
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@mixin d_f-c(){display:flex;justify-content: center;align-items: center;text-align: center; min-height: 100vh;}

*{ margin: 0; padding: 0; box-sizing: border-box;}

html{background:#079;font: 700 2.25rem 'Raleway',sans-serif;}

body{
  @include d_f-c();
	background: url(public/images/floor.jpg)
}